body{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}

div#logo{
    display: flex;
    align-items: center;
}

div#menu{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #727272;
}

nav .active,
nav a:hover{
    background-color: #39aae1;
    color: #ffffff;
}

section#banner{
    background-image: url(../images/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;
}