*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}

div#logo{
    display: flex;
    align-items: center;
}

div#menu{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav .active,
nav a:hover{
    background-color: #39aae1;
    color: #ffffff;
}

section#banner{
    display: flex;
    justify-content: center;
    background-image: url(../images/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column{
    flex-direction: column;
}

.banner-headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
    
}

.banner-headline h1{
    color: white;
    font-size: 70px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.575);
}

.banner-headline h2{
    color: white;
    font-size: 20px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.575);
}

.banner-options{
    display: flex;
    height: 210px;
    
}

.banner1, .banner2, .banner3{
    flex: 1;
    color: white;
    padding: 20px;
}

.banner1{
    background-color: #39aae1;
}

.banner2{
    background-color: #0079c7;
}

.banner3{
    background-color: #2b4c99;
}

.banner-title{
    font-size: 20px;
}

.banner-desc{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-options a{
    text-decoration: none;
    border: 1px solid white;
    padding: 6px;
    color: white;
}

.banner-opening-hours{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #0079c7;    
}

section#geral{
    display: flex;
    justify-content: center;
}

#geral section{
    flex: 2;
}

#geral aside{
    flex: 1;
}

.widget-title{
    margin-top: 30px;
    margin-bottom:20px;
}

.widget-title-text{
    color: black;
    font-size: 21px;
    font-weight: bold;    
}

.widget-title-bar{
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a{
    text-decoration: none;
}

article .news-data{
    display: flex;
}

article .news-posted-at{
    background-color: #2b4c99;
    color: white;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news-coments{
    background-color: #39aae1;
    color: white;
    font-size: 12px;
    padding: 10px;
}

article .news-thumbnail{
    margin-top: 30px;
}
article .news-thumbnail img{
    width: 100%;
    height: auto;
}

article .news-title{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
}

article .news-resume{
    font-size: 15px;
    color: #5c5c5c;
    line-height: 20px;
    margin-bottom: 30px;
    text-align: justify;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
}

.footer-menu{
    display: flex;
    flex: 1;
}

.fm1, .fm2, .fm3{
    flex: 1;
    color: white;
    padding: 20px;
}

.fm1{
    background-color: #39aae1;
}

.fm2{
    background-color: #0079c7;
}

.fm3{
    background-color: #2b4c99;
}